<div id="clima">
  <app-localizacao 
    [endereco]="clima.endereco"
    [data]="clima.data" 
  >
  </app-localizacao>
  <div class="row">
    <app-imagem [urlImagem]="clima.urlImagem"></app-imagem>
    <div class="d-flex align-items-center">
      <div id="temperatura">
        <app-temperatura [temperatura]="clima.temperatura"></app-temperatura>
      </div>
    </div>
    <div id="especificacoes" class="col float-right">
      <app-especificacoes
        [clima]="clima.clima"
        [umidade]="clima.umidade"
        [vento]="clima.vento"
      >
      </app-especificacoes>
    </div>
  </div>
</div>